@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=League+Spartan:wght@100&display=swap");

:root {
  --primary-color: #172b3b;
  --secondary-color: #f4797a;
  --color-fond: #e2ebf3;
  --primary-font: "League Spartan";
  --secondary-font: "Bebas Neue";
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-fond);
  width: 600px;
}

h2 {
    text-align: center;
    font-family: var(--primary-font);
  }

summary{
    border: 2px solid red;
    margin: auto;
    width: 90vw; 
    list-style: none;
}

details{
    border: 2px solid green;
    margin: 1rem auto;
    width: 90vw;
}

img{
    filter: grayscale(1) brightness(50%);
}

img:hover{
    filter:none;
    transition: 0.3s;
}
