@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=League+Spartan:wght@100&display=swap");

:root {
  --primary-color: #172b3b;
  --secondary-color: #f4797a;
  --color-fond: #e2ebf3;
  --primary-font: "League Spartan";
  --secondary-font: "Bebas Neue";
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-fond);
}

.facility {
  margin: 1rem auto;
  width: 80vw;
  /* padding: 2rem 0; */
  border: var(--thirdColor) solid 0.7vw;
  border-radius: 10px;
  font-weight: bold;
  padding: 1rem;
  background-color: var(--primary-color);
}

h3 {
  color: var(--color-fond);
  font-family: var(--primary-font);
  font-weight: bold;
  padding-bottom: 1rem;
  text-align: center;
  font-size: 6vw;
}

details {
  margin: 0;
  padding: 0;
  color: var(--color-fond);
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 4vw;
}

summary {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 0.5fr) 1.5fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  color: var(--color-fond);
  font-family: var(--primary-font);
}

.adress {
  margin-top: 1rem;
}

.itinerary {
  margin-top: 1rem;
}

.distance {
  grid-area: 1 / 1 / 2 / 2;
  height: 8vw;
  width: 8vw;
  margin-top: 1.5vw;
  margin-left: 3vw;
}

.distance + p {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 1 / 2 / 2 / 3;
  font-size: 4vw;
}

.star {
  height: 8vw;
  width: 8vw;
  margin-top: 1.5vw;
  margin-left: 3vw;
  grid-area: 2 / 1 / 3 / 2;
}

.star + p {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 2 / 2 / 3 / 3;
  font-size: 4vw;
}

.facilityPicture {
  height: 25vw;
  width: 30vw;
  grid-area: 1 / 4 / 3 / 5;
}

details a {
  color: var(--secondary-color);
  text-decoration: none;
  padding: 2vw 0;
}

@media screen and (min-width: 600px) {
  .facilities {
    width: 90vw;
    margin: auto;
  }

  .facility {
    margin: 5em auto;
  }
  h3 {
    /* font-size: 6vw; */
    padding-top: 2vw;
  }
  /* .distance + p,
  .star + p {
    font-size: 2.5vw;
  }
  .distance,
  .star {
    height: 8vw;
    width: 8vw;
    margin-top: 1.5vw;
    margin-left: 3vw;
  } */
  details {
    font-size: 2.5vw;
  }
}
