@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=League+Spartan:wght@100&display=swap");

:root {
  --firstColor: #172b3b;
  --secondColor: #e2ebf3;
  --thirdColor: #f4797a;
  --primary-font: "League Spartan";
  --secondary-font: "Bebas Neue";
}
