:root {
 --firstColor: #172b3b;
 --secondColor: #e2ebf3;
 --thirdColor: #f4797a;
}

footer {
 background-color: var(--firstColor);
 border-top: var(--thirdColor) 3px solid;
 max-width: 600px;
 margin-left: auto;
 margin-right: auto;
 margin-top: 10rem;
 /* padding-left: 0.8rem; */
}
footer p {
 color: var(--secondColor);
 margin-left: 0.8rem;
}
.linkGithub {
 max-width: 600px;
 margin: auto;
 justify-content: space-around;
}
.imgFooter {
 width: 60px;
 border-radius: 60px;
 border: var(--thirdColor) 3px solid;
 display: block;
 margin: 0 auto 20px;
}
.h2Footer {
 color: var(--firstColor);
 text-align: center;
 width: 250px;
 margin: 0 auto;
 border-bottom: var(--thirdColor) 2px solid;
}
.h3Footer {
 color: var(--firstColor);
 text-align: center;
 padding: 0 10px 0 10px;
 font-size: 1em;
}

@media screen and (min-width: 600px) {
 footer {
  max-width: 100vw;
 }
 .linkGithub {
  max-width: 800px;
  margin: auto;
  display: flex;
  justify-content: space-around;
 }
 .imgFooter {
  width: 100px;
  border-radius: 60px;
  border: var(--thirdColor) 3px solid;
  display: block;
  margin: 0 auto 20px;
 }
 .h2Footer {
  color: var(--secondColor);
  text-align: center;
  width: 250px;
  margin: 0 auto;
  border-bottom: var(--thirdColor) 2px solid;
 }
 .h3Footer {
  color: var(--secondColor);
  text-align: center;
  padding: 0 10px 0 10px;
  font-size: 1.2em;
 }
}
